.header
{
    color: crimson;


}

.sno
{margin: 30%;
    padding: 20px;
}
.products
{
    margin: auto;
    padding: 100px;
}
td, th{
    text-decoration-style: solid;
    color: white;
    border: 100px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    border:1px solid black;
    background-color: black;
}
#mydiv
{   padding:50px;
    height:50px;
    width:300px;

}